
.mat-table {
  background-color: white;
  color: black;
  width: 100vw;
  margin-top: 30px;
  text-align: center;
}
.mat-cell,
.mat-header-cell,
.border-bottom-color {
  color: black;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  border-bottom-color: grey;
  text-align: center;
}
td > img {
  width: 50px;
  height: 50px;
}
:host {
  width: 100%;
}

.AddBtn {
  border: none;
  background-color: black;
  color: white;
  height: 30px;
  width: 70px;
  align-items: center;
  border-radius: 5px;
}
