.mat-toolbar {
  justify-content: space-between !important;
  background-color: black;
}
.mat-icon {
  font-size: 25px;
}
.cart-icon:hover {
  font-size: 35px;
}
.quantityCircle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  font-size: 15px;
  color: white;
  position: absolute;
  top: 8px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart{
  display: flex;
  align-items: center;
}